@using Backend.Domain.Entities.Agents;
@using Backend.Domain.Entities.Products
@using Frontend.Web.Services.Agents;
@using Frontend.Web.Services.Products
@inject NavigationManager navigator;
@inject AgentService _agentService;
@inject ProductVariantService _productVariantService;

<div class="modal fade @modalClass" id="bs-example-modal-sm" tabindex="-1" style="@inlineStyle" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myModalLabel">
                    Warning
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                <h4>
                    Do you really want to delete it?
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-info-subtle text-info font-medium waves-effect" data-bs-dismiss="modal" @onclick="CloseModal">
                    Close
                </button>
                <button type="button" class="btn bg-danger-subtle text-danger font-medium waves-effect" data-bs-dismiss="modal" @onclick="() => DeleteItem()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<div class="@backDrop"></div>

@code
{
    public string? inlineStyle => ShowModal ? "display: block;" : "display: none;";
    public string? modalClass => ShowModal ? "show" : null;
    public string? backDrop => ShowModal ? "modal-backdrop fade show" : null;

}

@code
{
    public void CloseModal() => ShowModal = !ShowModal;
    public async Task DeleteItem()
    {
        await _productVariantService.DeleteVariant(selectedvariant.TenantId.ToString(), selectedvariant.VariantId.ToString());
        navigator.NavigateTo(navigator.Uri, true);
    }
}

@code
{
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public ProductVariant selectedvariant { get; set; }
}
