@page "/products/edit/{productId}"
@inject NavigationManager NavigationManager

<PageTitle>Aurora - Edit Product</PageTitle>
<div class="container-fluid">
    <Frontend.Web.Components.Products.Forms.Edit.EditProduct productId="@productId" />
</div>

@code
{
    [Parameter]
    public string productId { get; set; }
}