@page "/products"
@using Backend.Domain.Entities.Products;

<PageTitle>Aurora - Products</PageTitle>

<aside class="right-sidebar @formCssClass">
    <Frontend.Web.Components.Products.Forms.Add.AddProduct CollapseRightSidebar=collapseProductForm ToggleRightSidebar="ToggleProductForm" />
    <Frontend.Web.Components.ProductVariants.Forms.Add.AddProductVariant CollapseRightSidebar=collapseProductVariantForm ToggleRightSidebar="ToggleProductVariantForm" />
</aside>
<div class="container-fluid">
    <div class="row">
        <div class="m-4">
            <button class="btn btn-outline-primary" @onclick="ToggleProductForm">
                @btnText
            </button>
        </div>
    </div>
    <div class="row">
        <Frontend.Web.Components.Products.Table.ProductsTable OnCreateNewVariant="HandleCreateNewVariant" />
    </div>
</div>

@code
{
    private string? btnText => collapseProductForm ? "New" : "Hide menu";
    private string? formCssClass => collapseProductForm || collapseProductVariantForm ? null : "show-menu";


    private bool collapseProductForm = true;
    private void ToggleProductForm() => collapseProductForm = !collapseProductForm;


    private bool collapseProductVariantForm = true;
    private void ToggleProductVariantForm() => collapseProductVariantForm = !collapseProductVariantForm;
}

@code
{
    private void HandleCreateNewVariant(ProductDetail selectedProduct)
    {
        ToggleProductVariantForm();
    }
}
