@page "/products"
@using Backend.Domain.Entities.Products;

<aside class="right-sidebar @formCssClass">
    @if (isProductSidebar)
    {
        <Frontend.Web.Components.Products.Forms.Add.AddProduct 
            CollapseRightSidebar=collapseProductForm 
            ToggleRightSidebar="ToggleProductForm" 
        />
    }

    @if (isVariantSidebar)
    {
        <Frontend.Web.Components.ProductVariants.Forms.Add.AddProductVariant 
            CollapseRightSidebar=collapseProductVariantForm 
            ToggleRightSidebar="ToggleProductVariantForm" 
            ParentProductDetail="selectedParentProduct" 
        />
    }
</aside>
<div class="container-fluid">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-info-subtle px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/" class="text-info d-flex align-items-center">
                    <i class="ti ti-home fs-4 mt-1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/products" class="text-info">Produtos</a>
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="m-4">
            <button class="btn btn-outline-primary" @onclick="ToggleProductForm">
                @btnText
            </button>
        </div>
    </div>
    <div class="row">
        <Frontend.Web.Components.Products.Table.ProductsTable 
            OnCreateNewVariant="HandleCreateNewVariant" 
        />
    </div>
</div>

@code
{
    private string? btnText = "Novo";
    public string? formCssClass = null;
    public bool isProductSidebar = false;
    public bool isVariantSidebar = false;

    private bool collapseProductForm = true;
    private void ToggleProductForm(){
        isProductSidebar = true;
        isVariantSidebar = false;
        collapseProductVariantForm = true; 
        collapseProductForm = !collapseProductForm;
        formCssClass = collapseProductForm ? null : "show-menu";
        btnText = collapseProductForm ? "Novo" : "Ocultar";
    }

    private bool collapseProductVariantForm = true;
    private void ToggleProductVariantForm(){
        isProductSidebar = false;
        isVariantSidebar = true;
        collapseProductForm = true;
        collapseProductVariantForm = !collapseProductVariantForm;
        formCssClass = collapseProductVariantForm ? null : "show-menu";
    }
}

@code
{
    public ProductDetail? selectedParentProduct = null;
    private void HandleCreateNewVariant(ProductDetail selectedProduct)
    {
        selectedParentProduct = selectedProduct;
        ToggleProductVariantForm();
    }
}
