@page "/Login"
@using System.Text.Json;
@using System.Text;

<div class="position-absolute z-3 w-100 h-100">
    <Frontend.Web.Components.Login.Forms.Login />
</div>
<div class="area z-n1">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

 