@page "/Login"
@using System.Text.Json;
@using System.Text;

<div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card-mb-0">
                <Frontend.Web.Components.Login.Forms.Login />
            </div>
        </div>
    </div>
</div>
