@page "/Login"
@using System.Text.Json;
@using System.Text;

<div class="img js-fullheight" style="background-image:url(images/bg.jpg); background-size:cover; height:100vh; overflow:hidden;">  
        
            <Frontend.Web.Components.Login.Forms.Login />   
</div>
