@using Backend.Domain.Entities.Categories;
@using Backend.Domain.Entities.SubCategories;
@using Frontend.Web.Services.Authentication;
@using Frontend.Web.Services.Categories;
@using Frontend.Web.Services.SubCategories;
@inject NavigationManager navigator
@inject AuthenticationService _authenticationService;
@inject CategoryService _categoryService;
@inject SubCategoryService _subCategoryService;

<div>
    <div class="card p-4">
        <div class="row">
            <div class="col-md-9">
                <form>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="username">Category Display Name</label>
                            <input type="text" class="form-control" id="sku" placeholder="SKU" @bind="@category.CategoryName">
                        </div>
                        <div class="mb-3 col-sm-6">
                            <button type="button" @onclick="UpdateCategory" class="btn btn-primary bottom-0 mb-9 mt-5 rounded float-right">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card p-4">
        <div class="row">
        @foreach(var item in subCategoryList)
        {
            <div class="col-md-9">
                <div>
                    <input type="hidden" class="form-control" id="subcategoryId" @bind="@item.SubCategoryId">
                    <input type="text" class="form-control" id="subcategoryName" placeholder="SKU" @bind="@item.SubCategoryName">
                </div>
                <div class="mb-3 col-sm-6">
                    <button type="button" @onclick="() => UpdateSubCategory(item)" class="btn btn-primary bottom-0 mb-9 mt-5 rounded float-right">
                        Save
                    </button>
                </div>
            </div>
        }
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public string categoryId { get; set; }

    private List<SubCategory> subCategoryList = new List<SubCategory>();

    private Category category = new Category();
    private SubCategory subCategory = new SubCategory();

    protected override async Task OnInitializedAsync()
    {
        var context = await _authenticationService.GetContext();
        category.TenantId = context.Tenant.Id;
        subCategory.TenantId = context.Tenant.Id;

        subCategoryList = (await _subCategoryService.GetSubCategoriesByCategoryId(context.Tenant.Id.ToString(), categoryId.ToString())).ToList();

        var queryString = navigator.Uri.Split('/').Last();
        category = (await _categoryService.GetCategory(category.TenantId.ToString(), categoryId.ToString()));
    }
}

@code
{
    public async Task UpdateCategory()
    {
        try
        {
            if (await _categoryService.UpdateCategory(category)) 
                navigator.NavigateTo("/categories");
        }
        catch (Exception ex)
        {
            throw;
        }
    }

    public async Task UpdateSubCategory(SubCategory selectedSubCategory)
    {
        try
        {
            if (await _subCategoryService.UpdateSubCategory(selectedSubCategory))
                navigator.NavigateTo("/categories");
        }
        catch (Exception ex)
        {
            
            throw;
        }
    }
}