@using Backend.Domain.Entities.Orders;
@using Backend.Domain.Enums.Orders;
@using Backend.Domain.Enums.EnumExtensions;

<h5>
    <strong>
        Status:
    </strong>
    @code
    {
        private string CurrentStatus()
        {
            switch (Status.OrderStatusId)
            {
                case ((int)OrdersStatusEnums.Open):
                    return "text-bg-primary";
                case ((int)OrdersStatusEnums.InProgress):
                    return "text-bg-primary";
                case ((int)OrdersStatusEnums.PartiallyDone):
                    return "text-bg-info";
                case ((int)OrdersStatusEnums.Done):
                    return "text-bg-success";
                case ((int)OrdersStatusEnums.Overdue):
                    return "text-bg-warning";
                case ((int)OrdersStatusEnums.Canceled):
                    return "text-bg-danger";
                case ((int)OrdersStatusEnums.Refunding):
                    return "text-bg-refund";

            };
            return "text-bg-primary";
        }
    }
    <span class="badge @CurrentStatus()">@(((OrdersStatusEnums)Status.OrderStatusId).GetDescription())</span>
</h5>
@code {
    [Parameter]
    public OrderStatus Status { get; set; }
}
