<div class="center" style="flex-direction: column">
    <img class="mb-3" width="300" height="300" src="/assets/images/placeholder/undraw_add_notes.svg" />
    <h4>
        <strong>Nada aqui ainda...</strong>
    </h4>
    <p>A informação pesquisada não existe.</p>
</div>
