@page "/inventory/product/{productId}"
@using Backend.Domain.Entities.Products;
@using Frontend.Web.Services.Authentication;
@using Frontend.Web.Services.Products;
@inject ProductService _productService;
@inject AuthenticationService _authenticationService;


<div>
    <Frontend.Web.Components.Products.Forms.View.ProductView Model="Model"/>

    @* create a table view to fetch the logs only for the specified item  *@
    <Frontend.Web.Components.Stock.Table.StockTable ProductId="productId" />
</div>


@code
{
    private ProductDetail Model = new ProductDetail();
    protected override async Task OnInitializedAsync()
    {
        var context = await _authenticationService.GetContext();
        Model.TenantId = context.Tenant.Id;
        Model = await _productService.GetProductWithDetails(Model.TenantId.ToString(), productId.ToString());
    }
}

@code
{
    [Parameter]
    public string productId { get; set; }
}
