@using Backend.Domain.Entities.Authentication.Tenants;
@using Backend.Domain.Entities.Authentication.Users.UserContext
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

@if (Profile is not null && Profile.Tenant is not null)
{
    <div class="card card-body bg-primary">
        <h5 class="card-title text-light fw-semibold mb-4">
            <strong>Welcome, @Profile?.Username!</strong>
        </h5>
        @if (IsAuthenticated)
        {
            <p class="text-light mb-0">You're viewing the dashboard as company: <strong>@Profile!.Tenant!.Name</strong></p>
        }
    </div>
}

@code
{
    [Parameter] public bool IsAuthenticated { get; set; }
    [Parameter] public UserSessionContext? Profile { get; set; }
}
