html, body {
    font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.item {
    box-sizing: border-box;
    margin: 10px 5px 0 0;
    width: calc(1/3*100% - (1 - 1/3)*10px);
}

.item-list > item:nth-child(3n) {
    margin-right: 0;
}

.item-list::after {
    content: '';
    flex: auto;
}

.item-list > item:nth-child(-n+3) {
    margin-top: 0;
}   

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width: 1105px){
    .item-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: auto;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}