@page "/stock/edit/{StockMovementId}"
@using Backend.Domain.Entities.Stocks;
@using Frontend.Web.Services.Authentication;
@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Frontend.Web.Services.Stocks;
@inject NavigationManager NavigationManager
@inject AuthenticationService _authenticationService;
@inject StockService _stockService;

<div class="container-fluid">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-info-subtle px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/" class="text-info d-flex align-items-center">
                    <i class="ti ti-home fs-4 mt-1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/stock" class="text-info">Inventory</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/stock/edit/@StockMovementId" class="text-info">Stock Log - @Model.MovementDate - @Model!.Product!.Name</a>
            </li>
        </ol>
    </nav>
    <Frontend.Web.Components.Stock.Forms.Edit.EditStock Model="@Model"/>
    
    <div class="row ">
        <Frontend.Web.Components.Stock.Table.StockTable />
    </div>
    
</div>

@code
{
    [Parameter]
    public string StockMovementId { get; set; }
}

@code
{
    public Backend.Domain.Entities.Stocks.Stock Model = new Backend.Domain.Entities.Stocks.Stock();
    protected override async Task OnInitializedAsync()
    {
        var context = await _authenticationService.GetContext();
        Model.TenantId = context.Tenant.Id;
        Model = await _stockService.GetStock(Model.TenantId.ToString(), StockMovementId.ToString());
    }
}

