@page "/stock"

<aside class="right-sidebar @formCssClass">
    <Frontend.Web.Components.Stock.Forms.Add.AddStock  CollapseRightSidebar=collapseForm ToggleRightSidebar="ToggleForm" />
</aside>

<div class="container-fluid " >
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-info-subtle px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/" class="text-info d-flex align-items-center">
                    <i class="ti ti-home fs-4 mt-1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/stocks" class="text-info">Inventário</a>
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="m-4">
            <button class="btn btn-outline-primary" @onclick="ToggleForm">
                @btnText
            </button>
        </div>
    </div>
    <div class="row ">
        <Frontend.Web.Components.Stock.Table.InventoryTable />
    </div>
</div>


@code
{
    private bool collapseForm = true;
    private string? formCssClass => collapseForm ? null : "show-menu";
    private string? btnText => collapseForm ? "Novo" : "Ocultar";

    private void ToggleForm()
    {
        collapseForm = !collapseForm;
    }
}

