@page "/settings"

<div class="container-fluid">
    <Frontend.Web.Components.Settings.Theme.ThemeSelector />
    <div class="row">
        <div class="card card-body">
            <div id="google_translate_element"></div>
        </div>
    </div>
</div>

@code {

}
