@page "/categories"
@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Backend.Domain.Entities.SubCategories;
@using Backend.Domain.Entities.Categories;
@using Frontend.Web.Services.Authentication;
@using Frontend.Web.Services.Categories;
@using Frontend.Web.Services.SubCategories;
@inject AuthenticationService _authenticationService;
@inject CategoryService _categoryService;
@inject SubCategoryService _subCategoryService;
@inject NavigationManager _navigationManager;

<PageTitle>Aurora - Products</PageTitle>

<aside class="right-sidebar @formCssClass">
    <Frontend.Web.Components.Categories.Forms.Add.AddCategory CollapseRightSidebar=collapseForm ToggleRightSidebar="ToggleForm" />
</aside>

@code
{
    private bool collapseForm = true;
    private string? formCssClass => collapseForm ? null : "show-menu";
    private string? btnText => collapseForm ? "New" : "Hide menu";
    
    private void ToggleForm()
    {
        collapseForm = !collapseForm;
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="m-4">
            <button class="btn btn-outline-primary" @onclick="ToggleForm">
                @btnText
            </button>
        </div>
    </div>
    <div class="row">
        <Frontend.Web.Components.Categories.Table.CategoryTable />
    </div>
</div>
