@page "/categories/edit/{categoryId}"
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <Frontend.Web.Components.Categories.Forms.Edit.EditCategory categoryId="@categoryId"/>
</div>

@code
{
    [Parameter]
    public string categoryId { get; set; }
}