@page "/categories/edit/{categoryId}"
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-info-subtle px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/" class="text-info d-flex align-items-center">
                    <i class="ti ti-home fs-4 mt-1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/categories" class="text-info">Categorias & Sub-Categorias</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/categories/edit/@categoryId" class="text-info">Editar categoria</a>
            </li>
        </ol>
    </nav>
    <Frontend.Web.Components.Categories.Forms.Edit.EditCategory categoryId="@categoryId"/>
</div>

@code
{
    [Parameter]
    public string categoryId { get; set; }
}