@using Backend.Domain.Entities.Products;
@using Frontend.Web.Models.Client
@using Frontend.Web.Services.Authentication;
@using Frontend.Web.Services.Products;
@using Frontend.Web.Util.Session;
@using Newtonsoft.Json;
@inject ProductService _productService
@inject AuthenticationService _authenticationService;
@inject NavigationManager NavigationManager
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Model is null && isLoading)
{
    <Frontend.Web.Components.Loader.LoadingSpinner></Frontend.Web.Components.Loader.LoadingSpinner>
}
else
{
    if (Model!.Result is null)
    {
        <h6>No items registered yet...</h6>
    }
    else
    {
        @foreach (var product in Model.Result)
        {
            <div class="row justify-content-center mb-1">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://chamegobaby.com.br/wp-content/uploads/2022/11/Produto-teste2.png"
                                             class="w-100" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5>@product.Name</h5>
                                    <div class="d-flex flex-row justify-content-between">

                                        <span class="text-info mb-1 me-2" @onclick="() => Edit(product)">#@product.SKU</span>
                                        <span class="mb-1 badge rounded-pill font-small bg-info-subtle text-info">@product.ProductTypeName<br /></span>
                                    </div>


                                    <p class=" mt-4 mb-4 mb-md-0" >
                                        @product.Description
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start d-flex flex-column">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">R$ @product.Value</h4>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                   

                                    <div class="d-flex flex-column mt-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm m-1" type="button" @onclick="() => CreateNewVariant(product)">Add Variant</button>
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm m-1" type="button" @onclick="() => Edit(product)">Edit<i class="ti ti-edit m-1"></i></button>
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm m-1" type="button" @onclick="() => DeleteModalAction(product)">Delete<i class="ti ti-trash-x m-1"></i> </button>

                                    </div>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    }
}

@if (selectedProduct is not null)
{
    <Frontend.Web.Components.Products.Modals.DeleteProduct ShowModal="ShowModal" Model="selectedProduct" />
}

@code
{
    Product? selectedProduct = null;
    public void DeleteModalAction(Product product)
    {
        ShowModal = true;
        selectedProduct = product;
    }

}

@code
{
    private bool isLoading = true;
    private ApiResponse<IEnumerable<ProductDetail>>? Model;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var context = await _authenticationService.GetContext();
        Model = await _productService.GetProducts(context.Tenant.Id.ToString());
        if (Model.Successful())
        {
            Toaster.Error(Model.ErrorMessage);
        }
        isLoading = false;
    }
}

@code
{
    private void Edit(ProductDetail product)
    {
        NavigationManager.NavigateTo($"/products/edit/{product.ProductId}");
    }
}

@code
{
    [Parameter]
    public EventCallback<ProductDetail> OnCreateNewVariant { get; set; }

    private void CreateNewVariant(ProductDetail product)
    {
        OnCreateNewVariant.InvokeAsync(product);
    }

    [Parameter]
    public bool ShowModal { get; set; } = false;


}


