@using Backend.Domain.Entities.Contacts;
<div class="card-body">
@if (EmailAddresses.Any())
{
    <div class="table-responsive">
        <table class="table search-table align-middle text-nowrap">
            <tbody>
                @foreach (var emailAddress in EmailAddresses)
                {
                    <!-- start row -->
                    <tr class="search-items">
                        <td>
                            <p>@(emailAddress.Primary.GetValueOrDefault() ? "Primary mailing" : $"{string.Empty}")</p>
                        </td>
                        <td>
                            <span class="usr-email-addr" id="@emailAddress.EmailAddressId">@emailAddress.EmailAddress</span>
                        </td>
                        <td class="text-end">
                            <div class="action-btn">
                                <a class="text-primary edit">
                                    <i class="ti ti-eye fs-5"></i>
                                </a>
                                <a class="text-dark delete ms-2">
                                    <i class="ti ti-trash fs-5"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <!-- end row -->
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No emails created to this agent yet.</p>
}
</div>

@code{
    [Parameter]
    public IEnumerable<Email> EmailAddresses { get; set; }
}