@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Frontend.Web.Services.Authentication;
@inject IJSRuntime JS
@inherits LayoutComponentBase
@inject AuthenticationService _authService
@inject NavigationManager navigator

@if (isAuthenticated)
{
    // If authenticated we are going to show the side and topbar.
    // because they are supposed to be everywhere in the system so that's why we need this if statement.
    <div class="page-wrapper @NavMenuCssClass " id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" >
        <Sidebar CollapseNavMenu="collapseNavMenu" ToggleNavMenu="ToggleNavMenu"/>
        <div class="body-wrapper">
            <Topbar CollapseNavMenu="collapseNavMenu" ToggleNavMenu="ToggleNavMenu" />
            @Body
        </div>
    </div>
}
else
{
    <div class="page-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        @Body
    </div>
}

@code 
{
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? null : "show-sidebar";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@code 
{
    public bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await IsAuthenticated();
        Redirect(isAuthenticated);
    }

    public void Redirect(bool isAuthenticated)
    {
        if (!isAuthenticated)
            navigator.NavigateTo("/Login");
    }

    public async Task<bool> IsAuthenticated()
    {
        return await _authService.IsUserLogged();
    }
}


