.invoice {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #212529;
    padding: 20px;
    border-radius: 5px;
}

.invoice h1 {
    text-align: center;
}

.invoice .info {
    margin-bottom: 20px;
}

    .invoice .info p {
        margin: 5px 0;
    }

.invoice table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoice th, .invoice td {
    border: 1px solid #212529;
    padding: 8px;
    text-align: left;
}

.invoice tfoot {
    font-weight: bold;
}