@page "/"
@using Backend.Domain.Entities.Authentication.Tenants;
@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Frontend.Web.Services.Authentication;
@inject AuthenticationService _authenticationService;
@inject NavigationManager Navigator

<PageTitle>Aurora - Dashboard</PageTitle>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
            @if (_isAuthenticated)
            {
                <p class="mb-0">You're logged in @tenantProfile.Name</p>
            }
        </div>
    </div>
</div>
@*
    // CODE SMELLS:
         * Um bom desenvolvedor vai notar que isso aqui tem uma chance fudida de dar merda,
         * Ai voce vai me perguntar o porque, Simples: A gente ta usando o cache pra renderizar boa parte dos dados 
         * O problema acontece quando o usuario decide cheretar a aba de aplicacao do navegador, e a gente simplesmente nao tem como controlar isso
         * Se ele altera o nome do tenant logado na aba de aplicacao o novo nome vai ser exibido aqui.
    // Como resolver isso:
        * Pra toda requisicao feita pelo usuario, a gente tem que ter certeza de que ele ta validando as rotas de acesso dele.
        * Graças a minha estupidez eu já fiz um middleware que valida isso em forma de atributo na controller das APIs.
*@
@code
{
    private bool _isAuthenticated = false;
    private Tenant tenantProfile = new Tenant();

    public async Task<bool> IsAuthenticated()
    {
        return await _authenticationService.IsUserLogged();
    }

    public async void GetTenantProfileName() // I HAVE NO FUCKING IDEA ON WHATS GOING ON
    {
        var result = await _authenticationService.GetContext();
        tenantProfile = result.Tenant;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await IsAuthenticated();
        if (_isAuthenticated)
        {
            GetTenantProfileName();
        }
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await _authenticationService.GetContext();
    }
}