@page "/"
@using Backend.Domain.Entities.Authentication.Tenants;
@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Frontend.Web.Services.Authentication;
@inject AuthenticationService _authenticationService;
@inject NavigationManager Navigator

<PageTitle>Aurora - Dashboard</PageTitle>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
            @if (_isAuthenticated)
            {
                <p class="mb-0">You're logged in @tenantProfile.Name</p>
            }
        </div>
    </div>
</div>

@code
{
    private bool _isAuthenticated = false;
    private Tenant tenantProfile = new Tenant();
    
    public async Task<bool> IsAuthenticated()
    {
        return await _authenticationService.IsUserLogged();
    }

    private async void GetTenantProfileName() // I HAVE NO FUCKING IDEA ON WHATS GOING ON
    {
        var result = await _authenticationService.GetContext();
        tenantProfile = result.Tenant;
    }

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await IsAuthenticated();
        if (_isAuthenticated)
        {
            GetTenantProfileName();
            StateHasChanged();
        }
    }

}