@page "/agents/{IdSelected}"
@using Backend.Domain.Entities.Agents
@using Backend.Domain.Enums.Agents

<aside class="right-sidebar @formCssClass">
    <Frontend.Web.Components.Agents.Forms.Add.AddAgent CollapseRightSidebar=collapseForm ToggleRightSidebar="ToggleForm" />
</aside>

@code
{
    private bool collapseForm = true;
    private string? formCssClass => collapseForm ? null : "show-menu";
    private string? btnText => collapseForm ? "Novo" : "Ocultar";

    private void ToggleForm()
    {
        collapseForm = !collapseForm;
    }
}

@code {
    [Parameter] public string? IdSelected { get; set; }
}

    <div class="container-fluid">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-info-subtle px-3 py-2 rounded">
            <li class="breadcrumb-item">
                <a href="/" class="text-info d-flex align-items-center">
                    <i class="ti ti-home fs-4 mt-1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/agents" class="text-info">Agentes</a>
            </li>
            <li class="breadcrumb-item active text-info " aria-current="page">
                @((AgentTypes)int.Parse(IdSelected))
            </li>
        </ol>
    </nav>
        <div class="row">
            <div class="m-4">
                <button class="btn btn-outline-primary" @onclick="ToggleForm">
                    @btnText
                </button>
            </div>
        </div>
        <div class="row">
        <Frontend.Web.Components.Agents.Table.AgentsTable IdSelected="@IdSelected" />
        </div>
    </div>







