@using Backend.Domain.Entities.Orders.Response;
@inject NavigationManager NavigationManager;

@if (Order.OrderTotalAmount is null && Order.OrderItems is null || Order!.OrderItems!.Count() == 0)
{
    <p>Adicione itens para calcular o pedido.</p>
    <a class="btn btn-outline-primary" @onclick="() => RedirectToOrderEditPage()">
        Calcular Pedido
    </a>
}
else
{
    <div class="pull-right mt-4 mb-4 text-end">
        <p>Parcelas: x@(Order.OrderParcelAmount) | @((Order.OrderTotalAmount/Order.OrderParcelAmount)?.ToString("F2").Substring(0,6)) </p>
        <h5>
            <b>Total: R$</b> <strong>@(Order.OrderTotalAmount is null ? "Não calculado" : Order.OrderTotalAmount?.ToString("F2").Substring(0,6))</strong>
        </h5>
    </div>
}
<div class="text-end">
    <button class="btn btn-outline-primary" @onclick="() => RedirectToOrderEditPage()">
        Ver Detalhes
    </button>
    <a class="btn btn-outline-primary" href="/report/@Order.TenantId/invoice-report/@Order.OrderId">
        <i class="ti ti-printer fs-5"></i>
            Gerar Relatório
    </a>
</div>

@code {
    public void RedirectToOrderEditPage()
    {
        NavigationManager.NavigateTo($"/order-summary/{Order.OrderId}");
    }

    [Parameter]
    public OrderResponse Order { get; set; }
}
