@using Backend.Domain.Entities.Orders.Response;
@using Backend.Domain.Enums.Orders;
@using Frontend.Web.Components.Orders.OrderStatusBar

<div class="text-end">
    <p class="mt-4 mb-1">
        <span>Opening Date :</span>
        <i class="ti ti-calendar"></i>
        @Order.OrderOpeningDate
    </p>
    <p>
        <span><strong>Due Date:</strong></span>
        <i class="ti ti-calendar"></i>
        @Order.OrderEstimatedDate
    </p>
    @if (Order.OrderStatus.OrderStatusId == (int)OrdersStatusEnums.Done)
    {
        <p>
            <span><strong>Closed Date:</strong></span>
            <i class="ti ti-calendar"></i>
            @Order.OrderEffectiveDate
        </p>
    }
</div>

@code 
{
    [Parameter]
    public OrderResponse Order { get; set; }
}
