@using Backend.Domain.Entities.Orders.Response;
<div class="pull-right mt-4 text-end">
    <p>Parcels: @(Order.TotalParcels)/@Order.OrderParcelAmount </p>
    <h3>
        <b>Total: R$</b> @(Order.OrderTotalAmount is null ? "0.00" : Order.OrderTotalAmount)
    </h3>
</div>
<div class="text-end">
    <button class="btn bg-danger-subtle text-danger" type="submit">
        View Details
    </button>
    <button class="btn btn-primary btn-default print-page ms-6" type="button">
        <span>
            <i class="ti ti-printer fs-5"></i>
            Print
        </span>
    </button>
</div>

@code {
    [Parameter]
    public OrderResponse Order { get; set; }
}
